<a href="https://colab.research.google.com/github/Geaneke/TTA/blob/main/HLTwk3NPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

array = np.array([0,1,2,3,4,5,6,7,8,9])

print(array)

In [ ]:
import numpy as np

array = np.array([0,1,2,3,4,5,6,7,8,])
   
np.ones((3,3), dtype=bool)

In [ ]:
import numpy as np

array = np.array([1,2,3,4,5,6,7,8,9,10])

d = np.where(array%2 ==0)

print(d)

In [ ]:
import numpy as np

array = np.array([1,2,3,4,5,6,7,8,9,10])

array[0:10:2] = -1

print(array)

In [ ]:
import numpy as np

array = np.array([3,6,9,12,15,18])

new_shape = array.reshape(2,3)

print(new_shape)